<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
 
	<typeAliases>
		<!-- <package name="kr.co.yjlee.domain"/> -->
		<typeAlias alias="UserDTO" type="kr.co.yjlee.login.domain.UserDTO"/>
		<typeAlias alias="BoardDTO" type="kr.co.yjlee.board.domain.BoardDTO"/>
	</typeAliases>
   
</configuration>
